<div class="jumbotron">
    <h1 class="display-4">Blog Node</h1>
    <p class="lead">Este é um BLOG simples, feito com Node.js + Express + MongoDB</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
    </p>
    <hr class="my-4">
</div>

<h2>Postagens:</h2>

{{#each postagens}}
<div class="card mb-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <hr>
        <small>{{categoria.nome}}</small>
        <small>Criado em: {{data}}</small>
        <br>
        <a href="/postagens/{{slug}}">
            <button class="btn btn-success mt-2">Leia mais</button>
        </a>
    </div>
</div>
{{else}}
    <span>Nenhuma postagem</span>
{{/each}}