<h1>Lista de postagens:</h1>
<hr>
{{#each postagens}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>Slug: {{slug}}</p>
            <p>Descrição: {{descricao}}</p>
            <p>Conteudo: {{conteudo}}</p>
            <p>Categoria: {{categoria.nome}}</p>
            <a href="/posts/lista/edit/{{_id}}">
                <button class="btn btn-success mt-2">Editar</button>
            </a>
            ||||
            <a href="/posts/delete/{{_id}}">
                <button class="btn btn-danger mt-2">Excluir</button>
            </a>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem criada!</p>
{{/each}}
<a href="/posts/lista/add">
    <button class="btn btn-success">Criar Nova Postagem</button>
</a>